<a href="https://colab.research.google.com/github/zero3kw/abr-data-summary/blob/main/abr_data_summery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import io
import urllib.request
import zipfile
import pandas as pd

def get_data(url):
    req = urllib.request.Request(url)
    with urllib.request.urlopen(req) as res:
        data = res.read()
    with zipfile.ZipFile(io.BytesIO(data), 'r') as zip_file:
        with zip_file.open(zip_file.namelist()[0], 'r') as zip_data:
            return zip_data.read().decode('utf-8')

def make_dataframe(data):
    dataset = []
    for line in data.split('\r\n'):
        if len(line) > 0:
            dataset.append(line.split(','))
    return pd.DataFrame(dataset[1:],columns=dataset[0])

In [ ]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_pref/mt_pref_all.csv.zip'
data = get_data(url)
df = make_dataframe(data)
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   全国地方公共団体コード  47 non-null     object
 1   都道府県名        47 non-null     object
 2   都道府県名_カナ     47 non-null     object
 3   都道府県名_英字     47 non-null     object
 4   効力発生日        47 non-null     object
 5   廃止日          47 non-null     object
 6   備考           47 non-null     object
dtypes: object(7)
memory usage: 2.7+ KB

  全国地方公共団体コード 都道府県名 都道府県名_カナ  都道府県名_英字       効力発生日 廃止日 備考
0      010006   北海道   ホッカイドウ  Hokkaido  1947-04-17
1      020001   青森県   アオモリケン    Aomori  1947-04-17
2      030007   岩手県    イワテケン     Iwate  1947-04-17

In [ ]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_city/mt_city_all.csv.zip'
data = get_data(url)
df = make_dataframe(data)
df.info()

df.head(3)

df.groupby(['全国地方公共団体コード','都道府県名']).size().sort_index()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1922 entries, 0 to 1921
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   全国地方公共団体コード  1922 non-null   object
 1   都道府県名        1922 non-null   object
 2   都道府県名_カナ     1922 non-null   object
 3   都道府県名_英字     1922 non-null   object
 4   郡名           1922 non-null   object
 5   郡名_カナ        1922 non-null   object
 6   郡名_英字        1922 non-null   object
 7   市区町村名        1922 non-null   object
 8   市区町村名_カナ     1922 non-null   object
 9   市区町村名_英字     1922 non-null   object
 10  政令市区名        1922 non-null   object
 11  政令市区名_カナ     1922 non-null   object
 12  政令市区名_英字     1922 non-null   object
 13  効力発生日        1922 non-null   object
 14  廃止日          1922 non-null   object
 15  備考           1922 non-null   object
dtypes: object(16)
memory usage: 240.4+ KB

ValueError: No axis named 都道府県名 for object type DataFrame