<a href="https://colab.research.google.com/github/zero3kw/abr-data-summary/blob/main/abr_data_summery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 最初に実行

In [1]:
import io
import urllib.request
import zipfile
import pandas as pd
import gc

def get_data(url):
    req = urllib.request.Request(url)
    with urllib.request.urlopen(req) as res:
        data = res.read()
    with zipfile.ZipFile(io.BytesIO(data), 'r') as zip_file:
        del data
        gc.collect()
        with zip_file.open(zip_file.namelist()[0], 'r') as zip_data:
            return zip_data.read().decode('utf-8')            

def make_dataframe(data):
    dataset = []
    for line in data.split('\r\n'):
        if len(line) > 0:
            dataset.append(line.split(','))
    return pd.DataFrame(dataset[1:],columns=dataset[0])

# 日本 都道府県マスター データセット

- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000001)](https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000001)

In [2]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_pref/mt_pref_all.csv.zip'
data = get_data(url)
df = make_dataframe(data)

## データ件数

In [3]:
print("{:,}".format(len(df)))

47

## データ

In [4]:
df

   全国地方公共団体コード 都道府県名 都道府県名_カナ   都道府県名_英字       効力発生日 廃止日 備考
0       010006   北海道   ホッカイドウ   Hokkaido  1947-04-17
1       020001   青森県   アオモリケン     Aomori  1947-04-17
2       030007   岩手県    イワテケン      Iwate  1947-04-17
3       040002   宮城県    ミヤギケン     Miyagi  1947-04-17
4       050008   秋田県    アキタケン      Akita  1947-04-17
5       060003   山形県   ヤマガタケン   Yamagata  1947-04-17
6       070009   福島県   フクシマケン  Fukushima  1947-04-17
7       080004   茨城県   イバラキケン    Ibaraki  1947-04-17
8       090000   栃木県    トチギケン    Tochigi  1947-04-17
9       100005   群馬県    グンマケン      Gumma  1947-04-17
10      110001   埼玉県   サイタマケン    Saitama  1947-04-17
11      120006   千葉県     チバケン      Chiba  1947-04-17
12      130001   東京都   トウキョウト      Tokyo  1947-04-17
13      140007  神奈川県   カナガワケン   Kanagawa  1947-04-17
14      150002   新潟県   ニイガタケン    Niigata  1947-04-17
15      160008   富山県    トヤマケン     Toyama  1947-04-17
16      170003   石川県   イシカワケン   Ishikawa  1947-04-17
17      180009   福井県    フクイケン      Fukui  1947-04-17
18      190004   山梨県   ヤマナシケン  Yamanashi  1947-04-17
19      200000   長野県    ナガノケン     Nagano  1947-04-17
20      210005   岐阜県     ギフケン       Gifu  1947-04-17
21      220001   静岡県   シズオカケン   Shizuoka  1947-04-17
22      230006   愛知県    アイチケン      Aichi  1947-04-17
23      240001   三重県     ミエケン        Mie  1947-04-17
24      250007   滋賀県     シガケン      Shiga  1947-04-17
25      260002   京都府    キョウトフ      Kyoto  1947-04-17
26      270008   大阪府    オオサカフ      Osaka  1947-04-17
27      280003   兵庫県   ヒョウゴケン      Hyogo  1947-04-17
28      290009   奈良県     ナラケン       Nara  1947-04-17
29      300004  和歌山県   ワカヤマケン   Wakayama  1947-04-17
30      310000   鳥取県   トットリケン    Tottori  1947-04-17
31      320005   島根県    シマネケン    Shimane  1947-04-17
32      330001   岡山県   オカヤマケン    Okayama  1947-04-17
33      340006   広島県   ヒロシマケン  Hiroshima  1947-04-17
34      350001   山口県   ヤマグチケン  Yamaguchi  1947-04-17
35      360007   徳島県   トクシマケン  Tokushima  1947-04-17
36      370002   香川県    カガワケン     Kagawa  1947-04-17
37      380008   愛媛県    エヒメケン      Ehime  1947-04-17
38      390003   高知県    コウチケン      Kochi  1947-04-17
39      400009   福岡県   フクオカケン    Fukuoka  1947-04-17
40      410004   佐賀県     サガケン       Saga  1947-04-17
41      420000   長崎県   ナガサキケン   Nagasaki  1947-04-17
42      430005   熊本県   クマモトケン   Kumamoto  1947-04-17
43      440001   大分県   オオイタケン       Oita  1947-04-17
44      450006   宮崎県   ミヤザキケン   Miyazaki  1947-04-17
45      460001  鹿児島県   カゴシマケン  Kagoshima  1947-04-17
46      470007   沖縄県   オキナワケン    Okinawa  1947-04-17

## 詳細

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   全国地方公共団体コード  47 non-null     object
 1   都道府県名        47 non-null     object
 2   都道府県名_カナ     47 non-null     object
 3   都道府県名_英字     47 non-null     object
 4   効力発生日        47 non-null     object
 5   廃止日          47 non-null     object
 6   備考           47 non-null     object
dtypes: object(7)
memory usage: 2.7+ KB

# 日本 市区町村マスター データセット
- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000002)](https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000002)

In [6]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_city/mt_city_all.csv.zip'
data = get_data(url)
df = make_dataframe(data)

## データ件数

In [7]:
print("{:,}".format(len(df)))

1922

## 都道府県別件数

In [8]:
df.groupby([df['全国地方公共団体コード'].str[:2],'都道府県名']).size()

全国地方公共団体コード  都道府県名
01           北海道      195
02           青森県       40
03           岩手県       33
04           宮城県       40
05           秋田県       25
06           山形県       35
07           福島県       59
08           茨城県       44
09           栃木県       25
10           群馬県       35
11           埼玉県       73
12           千葉県       60
13           東京都       62
14           神奈川県      61
15           新潟県       38
16           富山県       15
17           石川県       19
18           福井県       17
19           山梨県       27
20           長野県       77
21           岐阜県       42
22           静岡県       45
23           愛知県       70
24           三重県       29
25           滋賀県       19
26           京都府       37
27           大阪府       74
28           兵庫県       50
29           奈良県       39
30           和歌山県      30
31           鳥取県       19
32           島根県       19
33           岡山県       31
34           広島県       31
35           山口県       19
36           徳島県       24
37           香川県       17
38           愛媛県       20
39           高知県       34
40           福岡県       74
41           佐賀県       20
42           長崎県       21
43           熊本県       50
44           大分県       18
45           宮崎県       26
46           鹿児島県      43
47           沖縄県       41
dtype: int64

## データ

In [9]:
df

,全国地方公共団体コード,都道府県名,都道府県名_カナ,都道府県名_英字,郡名,郡名_カナ,郡名_英字,市区町村名,市区町村名_カナ,市区町村名_英字,政令市区名,政令市区名_カナ,政令市区名_英字,効力発生日,廃止日,備考
0,011002,北海道,ホッカイドウ,Hokkaido,,,,札幌市,サッポロシ,Sapporo-shi,,,,1947-04-17,,
1,011011,北海道,ホッカイドウ,Hokkaido,,,,札幌市,サッポロシ,Sapporo-shi,中央区,チュウオウク,Chuo-ku,1947-04-17,,
2,011029,北海道,ホッカイドウ,Hokkaido,,,,札幌市,サッポロシ,Sapporo-shi,北区,キタク,Kita-ku,1947-04-17,,
3,011037,北海道,ホッカイドウ,Hokkaido,,,,札幌市,サッポロシ,Sapporo-shi,東区,ヒガシク,Higashi-ku,1947-04-17,,
4,011045,北海道,ホッカイドウ,Hokkaido,,,,札幌市,サッポロシ,Sapporo-shi,白石区,シロイシク,Shiroishi-ku,1947-04-17,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917,473618,沖縄県,オキナワケン,Okinawa,島尻郡,シマジリグン,Shimajiri-gun,久米島町,クメジマチョウ,Kumejima-cho,,,,1947-04-17,,
1918,473626,沖縄県,オキナワケン,Okinawa,島尻郡,シマジリグン,Shimajiri-gun,八重瀬町,ヤエセチョウ,Yaese-cho,,,,1947-04-17,,
1919,473758,沖縄県,オキナワケン,Okinawa,宮古郡,ミヤコグン,Miyako-gun,多良間村,タラマソン,Tarama-son,,,,1947-04-17,,
1920,473812,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,竹富町,タケトミチョウ,Taketomi-cho,,,,1947-04-17,,
1921,473821,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,与那国町,ヨナグニチョウ,Yonaguni-cho,,,,1947-04-17,,

## 詳細

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1922 entries, 0 to 1921
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   全国地方公共団体コード  1922 non-null   object
 1   都道府県名        1922 non-null   object
 2   都道府県名_カナ     1922 non-null   object
 3   都道府県名_英字     1922 non-null   object
 4   郡名           1922 non-null   object
 5   郡名_カナ        1922 non-null   object
 6   郡名_英字        1922 non-null   object
 7   市区町村名        1922 non-null   object
 8   市区町村名_カナ     1922 non-null   object
 9   市区町村名_英字     1922 non-null   object
 10  政令市区名        1922 non-null   object
 11  政令市区名_カナ     1922 non-null   object
 12  政令市区名_英字     1922 non-null   object
 13  効力発生日        1922 non-null   object
 14  廃止日          1922 non-null   object
 15  備考           1922 non-null   object
dtypes: object(16)
memory usage: 240.4+ KB

# 日本 町字マスター データセット

- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000003)](https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000003)

In [11]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_town/mt_town_all.csv.zip'
data = get_data(url)
df = make_dataframe(data)

## データ件数

In [12]:
print("{:,}".format(len(df)))

739161

## 都道府県別件数

In [13]:
df.groupby([df['全国地方公共団体コード'].str[:2],'都道府県名']).size()

全国地方公共団体コード  都道府県名
01           北海道      31315
02           青森県      17459
03           岩手県      23989
04           宮城県      41133
05           秋田県      33693
06           山形県      12513
07           福島県      78676
08           茨城県       8278
09           栃木県       5553
10           群馬県       4349
11           埼玉県       8309
12           千葉県       9524
13           東京都       6491
14           神奈川県      6070
15           新潟県       9069
16           富山県      25145
17           石川県      58117
18           福井県      81769
19           山梨県       2401
20           長野県       7372
21           岐阜県      10011
22           静岡県       6592
23           愛知県      64912
24           三重県       4999
25           滋賀県       2682
26           京都府      26568
27           大阪府       9220
28           兵庫県      29667
29           奈良県       3181
30           和歌山県      3455
31           鳥取県       2625
32           島根県       5465
33           岡山県       8481
34           広島県       9530
35           山口県       6673
36           徳島県      12602
37           香川県       3289
38           愛媛県       5714
39           高知県       4774
40           福岡県      10396
41           佐賀県       3235
42           長崎県       4928
43           熊本県       9125
44           大分県       6437
45           宮崎県       5050
46           鹿児島県      6491
47           沖縄県       1834
dtype: int64

## データ

In [14]:
df

,全国地方公共団体コード,町字id,町字区分コード,都道府県名,都道府県名_カナ,都道府県名_英字,郡名,郡名_カナ,郡名_英字,市区町村名,...,小字_通称フラグ,大字・町外字フラグ,小字外字フラグ,状態フラグ,起番フラグ,効力発生日,廃止日,原典資料コード,郵便番号,備考
0,011011,0001001,2,北海道,ホッカイドウ,Hokkaido,,,,札幌市,...,0,0,0,0,1,1947-04-17,,0,,
1,011011,0001002,2,北海道,ホッカイドウ,Hokkaido,,,,札幌市,...,0,0,0,0,1,1947-04-17,,0,,
2,011011,0001003,2,北海道,ホッカイドウ,Hokkaido,,,,札幌市,...,0,0,0,0,1,1947-04-17,,0,,
3,011011,0001004,2,北海道,ホッカイドウ,Hokkaido,,,,札幌市,...,0,0,0,0,1,1947-04-17,,0,,
4,011011,0001005,2,北海道,ホッカイドウ,Hokkaido,,,,札幌市,...,0,0,0,0,1,1947-04-17,,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739156,473812,0013000,1,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,竹富町,...,0,0,0,0,1,1947-04-17,,0,9071101,
739157,473821,0000101,3,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,与那国町,...,1,0,0,0,0,1947-04-17,,0,,
739158,473821,0000102,3,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,与那国町,...,1,0,0,0,0,1947-04-17,,0,,
739159,473821,0000103,3,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,与那国町,...,1,0,0,0,0,1947-04-17,,0,,
739160,473821,0001000,1,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,与那国町,...,0,0,0,0,1,1947-04-17,,0,9071801,

## 詳細

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739161 entries, 0 to 739160
Data columns (total 37 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   全国地方公共団体コード  739161 non-null  object
 1   町字id         739161 non-null  object
 2   町字区分コード      739161 non-null  object
 3   都道府県名        739161 non-null  object
 4   都道府県名_カナ     739161 non-null  object
 5   都道府県名_英字     739161 non-null  object
 6   郡名           739161 non-null  object
 7   郡名_カナ        739161 non-null  object
 8   郡名_英字        739161 non-null  object
 9   市区町村名        739161 non-null  object
 10  市区町村名_カナ     739161 non-null  object
 11  市区町村名_英字     739161 non-null  object
 12  政令市区名        739161 non-null  object
 13  政令市区名_カナ     739161 non-null  object
 14  政令市区名_英字     739161 non-null  object
 15  大字・町名        739161 non-null  object
 16  大字・町名_カナ     739161 non-null  object
 17  大字・町名_英字     739161 non-null  object
 18  丁目名          739161 non-null  object
 19  丁目名_カナ       739161 non-null  object
 20  丁目名_数字       739161 non-null  object
 21  小字名          739161 non-null  object
 22  小字名_カナ       739161 non-null  object
 23  小字名_英字       739161 non-null  object
 24  住居表示フラグ      739161 non-null  object
 25  住居表示方式コード    739161 non-null  object
 26  大字・町_通称フラグ   739161 non-null  object
 27  小字_通称フラグ     739161 non-null  object
 28  大字・町外字フラグ    739161 non-null  object
 29  小字外字フラグ      739161 non-null  object
 30  状態フラグ        739161 non-null  object
 31  起番フラグ        739161 non-null  object
 32  効力発生日        739161 non-null  object
 33  廃止日          739161 non-null  object
 34  原典資料コード      739161 non-null  object
 35  郵便番号         739161 non-null  object
 36  備考           739161 non-null  object
dtypes: object(37)
memory usage: 208.7+ MB

# 住居表示・住居マスター データセット

- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000005)](https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000005)

In [6]:
dataset = []
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_rsdt/pref/mt_rsdtdsp_rsdt_pref01.csv.zip'
data = get_data(url)
for line in data.split('\r\n'):
    if len(line) > 0:
        dataset.append(line.split(',')[0:2])
del data
gc.collect()
df = pd.DataFrame(dataset[1:],columns=dataset[0])

for i in range(2, 48):
    dataset = []
    pref_num = str(i).zfill(2)
    url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_rsdt/pref/mt_rsdtdsp_rsdt_pref' + pref_num + '.csv.zip'
    data = get_data(url)
    for line in data.split('\r\n'):
        if len(line) > 0:
            dataset.append(line.split(',')[0:2])
    del data
    gc.collect()
    tmp_df = pd.DataFrame(dataset[1:],columns=dataset[0])
    del dataset
    gc.collect()
    df = pd.concat([df, tmp_df], ignore_index=True)
    del tmp_df
    gc.collect()

## データ件数

In [7]:
print("{:,}".format(len(df)))

22,501,162

## 都道府県別件数

In [8]:
df.groupby(df['全国地方公共団体コード'].str[:2]).size()

全国地方公共団体コード
01    1803406
02     247487
03     284939
04     481436
05      97672
06     370206
07     106344
08     268079
09     235562
10     113300
11     906753
12     580371
13    1791441
14    1553308
15     825916
16     203683
17     128544
18     206271
19     109073
20     214336
21     152321
22     597357
23     372949
24     301015
25     375412
26      32916
27    2307641
28    1066974
29     261866
30      89744
31      65212
32      57566
33     296808
34    1400552
35     632040
36      46156
37     105932
38     309098
39     160634
40    1804649
41      55018
42     278092
43     511711
44     193206
45      86197
46     181455
47     230514
dtype: int64

## 詳細

In [ ]:
df.info()

In [ ]:
## 北海道のデータ
- データサイズがでかいので北海道だけ

In [4]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_rsdt/pref/mt_rsdtdsp_rsdt_pref01.csv.zip'
data = get_data(url)
df = make_dataframe(data)
df

,全国地方公共団体コード,町字id,街区id,住居id,住居2id,市区町村名,政令市区名,大字・町名,丁目名,小字名,...,住居番号2,住居表示フラグ,住居表示方式コード,大字・町外字フラグ,小字外字フラグ,状態フラグ,効力発生日,廃止日,原典資料コード,備考
0,011011,0001001,001,001,,札幌市,中央区,旭ケ丘,一丁目,,...,,1,1,0,0,0,1947-04-17,,0,
1,011011,0001001,001,002,,札幌市,中央区,旭ケ丘,一丁目,,...,,1,1,0,0,0,1947-04-17,,0,
2,011011,0001001,001,003,,札幌市,中央区,旭ケ丘,一丁目,,...,,1,1,0,0,0,1947-04-17,,0,
3,011011,0001001,001,004,,札幌市,中央区,旭ケ丘,一丁目,,...,,1,1,0,0,0,1947-04-17,,0,
4,011011,0001001,001,005,,札幌市,中央区,旭ケ丘,一丁目,,...,,1,1,0,0,0,1947-04-17,,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803401,016659,0028003,005,029,,弟子屈町,,湯の島,三丁目,,...,,1,1,0,0,0,1947-04-17,,0,
1803402,016659,0028003,005,030,,弟子屈町,,湯の島,三丁目,,...,,1,1,0,0,0,1947-04-17,,0,
1803403,016659,0028003,005,031,,弟子屈町,,湯の島,三丁目,,...,,1,1,0,0,0,1947-04-17,,0,
1803404,016659,0028003,005,032,,弟子屈町,,湯の島,三丁目,,...,,1,1,0,0,0,1947-04-17,,0,
1803405,016659,0028003,005,033,,弟子屈町,,湯の島,三丁目,,...,,1,1,0,0,0,1947-04-17,,0,