<a href="https://colab.research.google.com/github/zero3kw/abr-data-summary/blob/main/abr_data_summery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 最初に実行

In [1]:
import io
import urllib.request
import zipfile
import pandas as pd
import gc

def get_data(url):
    req = urllib.request.Request(url)
    with urllib.request.urlopen(req) as res:
        data = res.read()
    with zipfile.ZipFile(io.BytesIO(data), 'r') as zip_file:
        del data
        gc.collect()
        with zip_file.open(zip_file.namelist()[0], 'r') as zip_data:
            return zip_data.read().decode('utf-8')            

def make_dataframe(data):
    dataset = []
    for line in data.split('\r\n'):
        if len(line) > 0:
            dataset.append(line.split(','))
    return pd.DataFrame(dataset[1:],columns=dataset[0])

# 1 都道府県マスター データセット

- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000001)](https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000001)

In [2]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_pref/mt_pref_all.csv.zip'
data = get_data(url)
df = make_dataframe(data)

##### データ件数

In [3]:
print("{:,}".format(len(df)))

47

##### データ

In [4]:
df

   全国地方公共団体コード 都道府県名 都道府県名_カナ   都道府県名_英字       効力発生日 廃止日 備考
0       010006   北海道   ホッカイドウ   Hokkaido  1947-04-17
1       020001   青森県   アオモリケン     Aomori  1947-04-17
2       030007   岩手県    イワテケン      Iwate  1947-04-17
3       040002   宮城県    ミヤギケン     Miyagi  1947-04-17
4       050008   秋田県    アキタケン      Akita  1947-04-17
5       060003   山形県   ヤマガタケン   Yamagata  1947-04-17
6       070009   福島県   フクシマケン  Fukushima  1947-04-17
7       080004   茨城県   イバラキケン    Ibaraki  1947-04-17
8       090000   栃木県    トチギケン    Tochigi  1947-04-17
9       100005   群馬県    グンマケン      Gumma  1947-04-17
10      110001   埼玉県   サイタマケン    Saitama  1947-04-17
11      120006   千葉県     チバケン      Chiba  1947-04-17
12      130001   東京都   トウキョウト      Tokyo  1947-04-17
13      140007  神奈川県   カナガワケン   Kanagawa  1947-04-17
14      150002   新潟県   ニイガタケン    Niigata  1947-04-17
15      160008   富山県    トヤマケン     Toyama  1947-04-17
16      170003   石川県   イシカワケン   Ishikawa  1947-04-17
17      180009   福井県    フクイケン      Fukui  1947-04-17
18      190004   山梨県   ヤマナシケン  Yamanashi  1947-04-17
19      200000   長野県    ナガノケン     Nagano  1947-04-17
20      210005   岐阜県     ギフケン       Gifu  1947-04-17
21      220001   静岡県   シズオカケン   Shizuoka  1947-04-17
22      230006   愛知県    アイチケン      Aichi  1947-04-17
23      240001   三重県     ミエケン        Mie  1947-04-17
24      250007   滋賀県     シガケン      Shiga  1947-04-17
25      260002   京都府    キョウトフ      Kyoto  1947-04-17
26      270008   大阪府    オオサカフ      Osaka  1947-04-17
27      280003   兵庫県   ヒョウゴケン      Hyogo  1947-04-17
28      290009   奈良県     ナラケン       Nara  1947-04-17
29      300004  和歌山県   ワカヤマケン   Wakayama  1947-04-17
30      310000   鳥取県   トットリケン    Tottori  1947-04-17
31      320005   島根県    シマネケン    Shimane  1947-04-17
32      330001   岡山県   オカヤマケン    Okayama  1947-04-17
33      340006   広島県   ヒロシマケン  Hiroshima  1947-04-17
34      350001   山口県   ヤマグチケン  Yamaguchi  1947-04-17
35      360007   徳島県   トクシマケン  Tokushima  1947-04-17
36      370002   香川県    カガワケン     Kagawa  1947-04-17
37      380008   愛媛県    エヒメケン      Ehime  1947-04-17
38      390003   高知県    コウチケン      Kochi  1947-04-17
39      400009   福岡県   フクオカケン    Fukuoka  1947-04-17
40      410004   佐賀県     サガケン       Saga  1947-04-17
41      420000   長崎県   ナガサキケン   Nagasaki  1947-04-17
42      430005   熊本県   クマモトケン   Kumamoto  1947-04-17
43      440001   大分県   オオイタケン       Oita  1947-04-17
44      450006   宮崎県   ミヤザキケン   Miyazaki  1947-04-17
45      460001  鹿児島県   カゴシマケン  Kagoshima  1947-04-17
46      470007   沖縄県   オキナワケン    Okinawa  1947-04-17

##### 詳細

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   全国地方公共団体コード  47 non-null     object
 1   都道府県名        47 non-null     object
 2   都道府県名_カナ     47 non-null     object
 3   都道府県名_英字     47 non-null     object
 4   効力発生日        47 non-null     object
 5   廃止日          47 non-null     object
 6   備考           47 non-null     object
dtypes: object(7)
memory usage: 2.7+ KB

# 2 市区町村マスター データセット
- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000002)](https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000002)

In [6]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_city/mt_city_all.csv.zip'
data = get_data(url)
df = make_dataframe(data)

##### データ件数

In [7]:
print("{:,}".format(len(df)))

1,922

##### 都道府県別件数

In [8]:
df.groupby([df['全国地方公共団体コード'].str[:2],'都道府県名']).size()

全国地方公共団体コード  都道府県名
01           北海道      195
02           青森県       40
03           岩手県       33
04           宮城県       40
05           秋田県       25
06           山形県       35
07           福島県       59
08           茨城県       44
09           栃木県       25
10           群馬県       35
11           埼玉県       73
12           千葉県       60
13           東京都       62
14           神奈川県      61
15           新潟県       38
16           富山県       15
17           石川県       19
18           福井県       17
19           山梨県       27
20           長野県       77
21           岐阜県       42
22           静岡県       45
23           愛知県       70
24           三重県       29
25           滋賀県       19
26           京都府       37
27           大阪府       74
28           兵庫県       50
29           奈良県       39
30           和歌山県      30
31           鳥取県       19
32           島根県       19
33           岡山県       31
34           広島県       31
35           山口県       19
36           徳島県       24
37           香川県       17
38           愛媛県       20
39           高知県       34
40           福岡県       74
41           佐賀県       20
42           長崎県       21
43           熊本県       50
44           大分県       18
45           宮崎県       26
46           鹿児島県      43
47           沖縄県       41
dtype: int64

##### データ

In [9]:
df

,全国地方公共団体コード,都道府県名,都道府県名_カナ,都道府県名_英字,郡名,郡名_カナ,郡名_英字,市区町村名,市区町村名_カナ,市区町村名_英字,政令市区名,政令市区名_カナ,政令市区名_英字,効力発生日,廃止日,備考
0,011002,北海道,ホッカイドウ,Hokkaido,,,,札幌市,サッポロシ,Sapporo-shi,,,,1947-04-17,,
1,011011,北海道,ホッカイドウ,Hokkaido,,,,札幌市,サッポロシ,Sapporo-shi,中央区,チュウオウク,Chuo-ku,1947-04-17,,
2,011029,北海道,ホッカイドウ,Hokkaido,,,,札幌市,サッポロシ,Sapporo-shi,北区,キタク,Kita-ku,1947-04-17,,
3,011037,北海道,ホッカイドウ,Hokkaido,,,,札幌市,サッポロシ,Sapporo-shi,東区,ヒガシク,Higashi-ku,1947-04-17,,
4,011045,北海道,ホッカイドウ,Hokkaido,,,,札幌市,サッポロシ,Sapporo-shi,白石区,シロイシク,Shiroishi-ku,1947-04-17,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917,473618,沖縄県,オキナワケン,Okinawa,島尻郡,シマジリグン,Shimajiri-gun,久米島町,クメジマチョウ,Kumejima-cho,,,,1947-04-17,,
1918,473626,沖縄県,オキナワケン,Okinawa,島尻郡,シマジリグン,Shimajiri-gun,八重瀬町,ヤエセチョウ,Yaese-cho,,,,1947-04-17,,
1919,473758,沖縄県,オキナワケン,Okinawa,宮古郡,ミヤコグン,Miyako-gun,多良間村,タラマソン,Tarama-son,,,,1947-04-17,,
1920,473812,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,竹富町,タケトミチョウ,Taketomi-cho,,,,1947-04-17,,
1921,473821,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,与那国町,ヨナグニチョウ,Yonaguni-cho,,,,1947-04-17,,

##### 詳細

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1922 entries, 0 to 1921
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   全国地方公共団体コード  1922 non-null   object
 1   都道府県名        1922 non-null   object
 2   都道府県名_カナ     1922 non-null   object
 3   都道府県名_英字     1922 non-null   object
 4   郡名           1922 non-null   object
 5   郡名_カナ        1922 non-null   object
 6   郡名_英字        1922 non-null   object
 7   市区町村名        1922 non-null   object
 8   市区町村名_カナ     1922 non-null   object
 9   市区町村名_英字     1922 non-null   object
 10  政令市区名        1922 non-null   object
 11  政令市区名_カナ     1922 non-null   object
 12  政令市区名_英字     1922 non-null   object
 13  効力発生日        1922 non-null   object
 14  廃止日          1922 non-null   object
 15  備考           1922 non-null   object
dtypes: object(16)
memory usage: 240.4+ KB

# 3 町字マスター データセット

- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000003)](https://registry-catalog.registries.digital.go.jp/dataset/o1-000000_g2-000003)

In [11]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_town/mt_town_all.csv.zip'
data = get_data(url)
df = make_dataframe(data)

##### データ件数

In [12]:
print("{:,}".format(len(df)))

739,161

##### 都道府県別件数

In [13]:
df.groupby([df['全国地方公共団体コード'].str[:2],'都道府県名']).size()

全国地方公共団体コード  都道府県名
01           北海道      31315
02           青森県      17459
03           岩手県      23989
04           宮城県      41133
05           秋田県      33693
06           山形県      12513
07           福島県      78676
08           茨城県       8278
09           栃木県       5553
10           群馬県       4349
11           埼玉県       8309
12           千葉県       9524
13           東京都       6491
14           神奈川県      6070
15           新潟県       9069
16           富山県      25145
17           石川県      58117
18           福井県      81769
19           山梨県       2401
20           長野県       7372
21           岐阜県      10011
22           静岡県       6592
23           愛知県      64912
24           三重県       4999
25           滋賀県       2682
26           京都府      26568
27           大阪府       9220
28           兵庫県      29667
29           奈良県       3181
30           和歌山県      3455
31           鳥取県       2625
32           島根県       5465
33           岡山県       8481
34           広島県       9530
35           山口県       6673
36           徳島県      12602
37           香川県       3289
38           愛媛県       5714
39           高知県       4774
40           福岡県      10396
41           佐賀県       3235
42           長崎県       4928
43           熊本県       9125
44           大分県       6437
45           宮崎県       5050
46           鹿児島県      6491
47           沖縄県       1834
dtype: int64

##### データ

In [14]:
df

,全国地方公共団体コード,町字id,町字区分コード,都道府県名,都道府県名_カナ,都道府県名_英字,郡名,郡名_カナ,郡名_英字,市区町村名,...,小字_通称フラグ,大字・町外字フラグ,小字外字フラグ,状態フラグ,起番フラグ,効力発生日,廃止日,原典資料コード,郵便番号,備考
0,011011,0001001,2,北海道,ホッカイドウ,Hokkaido,,,,札幌市,...,0,0,0,0,1,1947-04-17,,0,,
1,011011,0001002,2,北海道,ホッカイドウ,Hokkaido,,,,札幌市,...,0,0,0,0,1,1947-04-17,,0,,
2,011011,0001003,2,北海道,ホッカイドウ,Hokkaido,,,,札幌市,...,0,0,0,0,1,1947-04-17,,0,,
3,011011,0001004,2,北海道,ホッカイドウ,Hokkaido,,,,札幌市,...,0,0,0,0,1,1947-04-17,,0,,
4,011011,0001005,2,北海道,ホッカイドウ,Hokkaido,,,,札幌市,...,0,0,0,0,1,1947-04-17,,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739156,473812,0013000,1,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,竹富町,...,0,0,0,0,1,1947-04-17,,0,9071101,
739157,473821,0000101,3,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,与那国町,...,1,0,0,0,0,1947-04-17,,0,,
739158,473821,0000102,3,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,与那国町,...,1,0,0,0,0,1947-04-17,,0,,
739159,473821,0000103,3,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,与那国町,...,1,0,0,0,0,1947-04-17,,0,,
739160,473821,0001000,1,沖縄県,オキナワケン,Okinawa,八重山郡,ヤエヤマグン,Yaeyama-gun,与那国町,...,0,0,0,0,1,1947-04-17,,0,9071801,

##### 詳細

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739161 entries, 0 to 739160
Data columns (total 37 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   全国地方公共団体コード  739161 non-null  object
 1   町字id         739161 non-null  object
 2   町字区分コード      739161 non-null  object
 3   都道府県名        739161 non-null  object
 4   都道府県名_カナ     739161 non-null  object
 5   都道府県名_英字     739161 non-null  object
 6   郡名           739161 non-null  object
 7   郡名_カナ        739161 non-null  object
 8   郡名_英字        739161 non-null  object
 9   市区町村名        739161 non-null  object
 10  市区町村名_カナ     739161 non-null  object
 11  市区町村名_英字     739161 non-null  object
 12  政令市区名        739161 non-null  object
 13  政令市区名_カナ     739161 non-null  object
 14  政令市区名_英字     739161 non-null  object
 15  大字・町名        739161 non-null  object
 16  大字・町名_カナ     739161 non-null  object
 17  大字・町名_英字     739161 non-null  object
 18  丁目名          739161 non-null  object
 19  丁目名_カナ       739161 non-null  object
 20  丁目名_数字       739161 non-null  object
 21  小字名          739161 non-null  object
 22  小字名_カナ       739161 non-null  object
 23  小字名_英字       739161 non-null  object
 24  住居表示フラグ      739161 non-null  object
 25  住居表示方式コード    739161 non-null  object
 26  大字・町_通称フラグ   739161 non-null  object
 27  小字_通称フラグ     739161 non-null  object
 28  大字・町外字フラグ    739161 non-null  object
 29  小字外字フラグ      739161 non-null  object
 30  状態フラグ        739161 non-null  object
 31  起番フラグ        739161 non-null  object
 32  効力発生日        739161 non-null  object
 33  廃止日          739161 non-null  object
 34  原典資料コード      739161 non-null  object
 35  郵便番号         739161 non-null  object
 36  備考           739161 non-null  object
dtypes: object(37)
memory usage: 208.7+ MB

# 4 住居表示・街区マスター データセット

- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000004)](https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000004)

In [16]:
df = pd.DataFrame()
for i in range(1, 48):
    dataset = []
    pref_num = str(i).zfill(2)
    url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_blk/pref/mt_rsdtdsp_blk_pref' + pref_num + '.csv.zip'
    data = get_data(url)
    for line in data.split('\r\n'):
        if len(line) > 0:
            dataset.append(line.split(',')[0:1])
    tmp_df = pd.DataFrame(dataset[1:],columns=dataset[0])
    df = pd.concat([df, tmp_df], ignore_index=True)

##### データ件数

In [17]:
print("{:,}".format(len(df)))

1,125,447

##### 都道府県別件数

In [18]:
df.groupby(df['全国地方公共団体コード'].str[:2]).size()

全国地方公共団体コード
01     87942
02     13968
03     10931
04     29670
05      7951
06     12843
07      7367
08     22316
09     13647
10      5676
11     55932
12     52166
13    133085
14     84600
15     28131
16      7550
17      5187
18      7321
19      4763
20      9294
21      7743
22     26743
23     29236
24     12186
25     13564
26      5610
27    111833
28     53004
29     11955
30      3373
31      2162
32      2123
33     10286
34     50207
35     23612
36       909
37      3799
38      9919
39      6188
40     72878
41      2672
42     10113
43     13760
44      8469
45      6783
46     14480
47     11500
dtype: int64

##### 群馬県のデータ
- データサイズがでかいので群馬県だけ

In [19]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_blk/pref/mt_rsdtdsp_blk_pref10.csv.zip'
data = get_data(url)
df = make_dataframe(data)
df

,全国地方公共団体コード,町字id,街区id,市区町村名,政令市区名,大字・町名,丁目名,小字名,街区符号,住居表示フラグ,住居表示方式コード,大字・町外字フラグ,小字外字フラグ,状態フラグ,効力発生日,廃止日,原点資料コード,備考
0,102016,0007001,001,前橋市,,朝日町,一丁目,,1,1,1,0,0,1,1947-04-17,,0,
1,102016,0007001,002,前橋市,,朝日町,一丁目,,2,1,1,0,0,1,1947-04-17,,0,
2,102016,0007001,003,前橋市,,朝日町,一丁目,,3,1,1,0,0,1,1947-04-17,,0,
3,102016,0007001,004,前橋市,,朝日町,一丁目,,4,1,1,0,0,1,1947-04-17,,0,
4,102016,0007001,005,前橋市,,朝日町,一丁目,,5,1,1,0,0,1,1947-04-17,,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5671,105252,0003000,047,邑楽町,,大字明野,,,47,1,1,0,0,0,1947-04-17,,0,
5672,105252,0003000,048,邑楽町,,大字明野,,,48,1,1,0,0,0,1947-04-17,,0,
5673,105252,0003000,049,邑楽町,,大字明野,,,49,1,1,0,0,0,1947-04-17,,0,
5674,105252,0003000,050,邑楽町,,大字明野,,,50,1,1,0,0,0,1947-04-17,,0,
5675,105252,0003000,051,邑楽町,,大字明野,,,51,1,1,0,0,0,1947-04-17,,0,

###### 詳細

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5676 entries, 0 to 5675
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   全国地方公共団体コード  5676 non-null   object
 1   町字id         5676 non-null   object
 2   街区id         5676 non-null   object
 3   市区町村名        5676 non-null   object
 4   政令市区名        5676 non-null   object
 5   大字・町名        5676 non-null   object
 6   丁目名          5676 non-null   object
 7   小字名          5676 non-null   object
 8   街区符号         5676 non-null   object
 9   住居表示フラグ      5676 non-null   object
 10  住居表示方式コード    5676 non-null   object
 11  大字・町外字フラグ    5676 non-null   object
 12  小字外字フラグ      5676 non-null   object
 13  状態フラグ        5676 non-null   object
 14  効力発生日        5676 non-null   object
 15  廃止日          5676 non-null   object
 16  原点資料コード      5676 non-null   object
 17  備考           5676 non-null   object
dtypes: object(18)
memory usage: 798.3+ KB

# 5 住居表示・住居マスター データセット

- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000005)](https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000005)

In [21]:
df = pd.DataFrame()
for i in range(1, 48):
    dataset = []
    pref_num = str(i).zfill(2)
    url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_rsdt/pref/mt_rsdtdsp_rsdt_pref' + pref_num + '.csv.zip'
    data = get_data(url)
    for line in data.split('\r\n'):
        if len(line) > 0:
            dataset.append(line.split(',')[0:1])
    tmp_df = pd.DataFrame(dataset[1:],columns=dataset[0])
    df = pd.concat([df, tmp_df], ignore_index=True)

##### データ件数

In [22]:
print("{:,}".format(len(df)))

22,501,162

##### 都道府県別件数

In [23]:
df.groupby(df['全国地方公共団体コード'].str[:2]).size()

全国地方公共団体コード
01    1803406
02     247487
03     284939
04     481436
05      97672
06     370206
07     106344
08     268079
09     235562
10     113300
11     906753
12     580371
13    1791441
14    1553308
15     825916
16     203683
17     128544
18     206271
19     109073
20     214336
21     152321
22     597357
23     372949
24     301015
25     375412
26      32916
27    2307641
28    1066974
29     261866
30      89744
31      65212
32      57566
33     296808
34    1400552
35     632040
36      46156
37     105932
38     309098
39     160634
40    1804649
41      55018
42     278092
43     511711
44     193206
45      86197
46     181455
47     230514
dtype: int64

##### 群馬県のデータ
- データサイズがでかいので群馬県だけ

In [24]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_rsdt/pref/mt_rsdtdsp_rsdt_pref10.csv.zip'
data = get_data(url)
df = make_dataframe(data)
df

,全国地方公共団体コード,町字id,街区id,住居id,住居2id,市区町村名,政令市区名,大字・町名,丁目名,小字名,...,住居番号2,住居表示フラグ,住居表示方式コード,大字・町外字フラグ,小字外字フラグ,状態フラグ,効力発生日,廃止日,原典資料コード,備考
0,102016,0007001,001,001,,前橋市,,朝日町,一丁目,,...,,1,1,0,0,1,1947-04-17,,0,
1,102016,0007001,001,002,,前橋市,,朝日町,一丁目,,...,,1,1,0,0,1,1947-04-17,,0,
2,102016,0007001,001,003,,前橋市,,朝日町,一丁目,,...,,1,1,0,0,1,1947-04-17,,0,
3,102016,0007001,001,004,,前橋市,,朝日町,一丁目,,...,,1,1,0,0,1,1947-04-17,,0,
4,102016,0007001,001,005,,前橋市,,朝日町,一丁目,,...,,1,1,0,0,1,1947-04-17,,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113295,105244,0021003,022,022,,大泉町,,富士,三丁目,,...,,1,1,0,0,0,1947-04-17,,0,
113296,105244,0021003,022,023,,大泉町,,富士,三丁目,,...,,1,1,0,0,0,1947-04-17,,0,
113297,105244,0021003,022,024,,大泉町,,富士,三丁目,,...,,1,1,0,0,0,1947-04-17,,0,
113298,105244,0021003,022,025,,大泉町,,富士,三丁目,,...,,1,1,0,0,0,1947-04-17,,0,
113299,105244,0021003,022,026,,大泉町,,富士,三丁目,,...,,1,1,0,0,0,1947-04-17,,0,

###### 詳細

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113300 entries, 0 to 113299
Data columns (total 22 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   全国地方公共団体コード  113300 non-null  object
 1   町字id         113300 non-null  object
 2   街区id         113300 non-null  object
 3   住居id         113300 non-null  object
 4   住居2id        113300 non-null  object
 5   市区町村名        113300 non-null  object
 6   政令市区名        113300 non-null  object
 7   大字・町名        113300 non-null  object
 8   丁目名          113300 non-null  object
 9   小字名          113300 non-null  object
 10  街区符号         113300 non-null  object
 11  住居番号         113300 non-null  object
 12  住居番号2        113300 non-null  object
 13  住居表示フラグ      113300 non-null  object
 14  住居表示方式コード    113300 non-null  object
 15  大字・町外字フラグ    113300 non-null  object
 16  小字外字フラグ      113300 non-null  object
 17  状態フラグ        113300 non-null  object
 18  効力発生日        113300 non-null  object
 19  廃止日          113300 non-null  object
 20  原典資料コード      113300 non-null  object
 21  備考           113300 non-null  object
dtypes: object(22)
memory usage: 19.0+ MB

# 6 町字マスター位置参照拡張 データセット

- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000006)](https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000006)

In [26]:
df = pd.DataFrame()
for i in range(1, 48):
    dataset = []
    pref_num = str(i).zfill(2)
    url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_town_pos/pref/mt_town_pos_pref' + pref_num + '.csv.zip'
    data = get_data(url)
    for line in data.split('\r\n'):
        if len(line) > 0:
            dataset.append(line.split(',')[0:1])
    tmp_df = pd.DataFrame(dataset[1:],columns=dataset[0])
    df = pd.concat([df, tmp_df], ignore_index=True)

##### データ件数

In [27]:
print("{:,}".format(len(df)))

318,303

##### 都道府県別件数

In [28]:
df.groupby(df['全国地方公共団体コード'].str[:2]).size()

全国地方公共団体コード
01    28443
02     5506
03     8835
04     9910
05     5872
06     5288
07    13013
08     8114
09     5441
10     4412
11     8034
12     9139
13     5753
14     5806
15     8771
16     3449
17     3529
18     2853
19     2398
20     7337
21     9508
22     6380
23    16555
24     4715
25     2649
26     8345
27     8702
28    10331
29     2972
30     3435
31     2618
32     4751
33     8465
34     8431
35     6638
36     3551
37     3230
38     5670
39     4734
40    10107
41     3137
42     4661
43     7321
44     6418
45     4878
46     6444
47     1754
dtype: int64

##### 群馬県のデータ
- データサイズがでかいので群馬県だけ

In [29]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_town_pos/pref/mt_town_pos_pref10.csv.zip'
data = get_data(url)
df = make_dataframe(data)
df

,全国地方公共団体コード,町字id,住居表示フラグ,代表点_経度,代表点_緯度,代表点_座標参照系,代表点_地図情報レベル,ポリゴン_ファイル名,ポリゴン_キーコード,ポリゴン_データフォーマット,ポリゴン_座標参照系,ポリゴン_地図情報レベル,位置参照情報_大字町丁目コード,位置参照情報_データ整備年度,国勢調査_境界_小地域（町丁・字等別）,国勢調査_境界_データ整備年度
0,102016,0000101,0,139.105506,36.451964,EPSG:6668,25000,,,,,,,,,
1,102016,0000102,0,139.067506,36.449297,EPSG:6668,25000,,,,,,,,,
2,102016,0000103,0,139.063811,36.436714,EPSG:6668,25000,,,,,,,,,
3,102016,0000104,0,139.06745,36.443019,EPSG:6668,25000,,,,,,,,,
4,102016,0000105,0,139.071561,36.437631,EPSG:6668,25000,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,105252,0008000,0,139.446136,36.246573,EPSG:4612,25000,,,,,,105250008000,2020,,
4408,105252,0009000,0,139.478075,36.254592,EPSG:4612,25000,,,,,,105250009000,2020,,
4409,105252,0010000,0,139.465945,36.263476,EPSG:4612,25000,,,,,,105250010000,2020,,
4410,105252,0011000,0,139.447592,36.279244,EPSG:4612,25000,,,,,,105250011000,2020,,
4411,105252,0012000,0,139.472602,36.241349,EPSG:4612,25000,,,,,,105250012000,2020,,

###### 詳細

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4412 entries, 0 to 4411
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   全国地方公共団体コード          4412 non-null   object
 1   町字id                 4412 non-null   object
 2   住居表示フラグ              4412 non-null   object
 3   代表点_経度               4412 non-null   object
 4   代表点_緯度               4412 non-null   object
 5   代表点_座標参照系            4412 non-null   object
 6   代表点_地図情報レベル          4412 non-null   object
 7   ポリゴン_ファイル名           4412 non-null   object
 8   ポリゴン_キーコード           4412 non-null   object
 9   ポリゴン_データフォーマット       4412 non-null   object
 10  ポリゴン_座標参照系           4412 non-null   object
 11  ポリゴン_地図情報レベル         4412 non-null   object
 12  位置参照情報_大字町丁目コード      4412 non-null   object
 13  位置参照情報_データ整備年度       4412 non-null   object
 14  国勢調査_境界_小地域（町丁・字等別）  4412 non-null   object
 15  国勢調査_境界_データ整備年度      4412 non-null   object
dtypes: object(16)
memory usage: 551.6+ KB

# 7 住居表示－街区マスター位置参照拡張 データセット

- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000007)](https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000007)

In [31]:
df = pd.DataFrame()
for i in range(1, 48):
    dataset = []
    pref_num = str(i).zfill(2)
    url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_blk_pos/pref/mt_rsdtdsp_blk_pos_pref' + pref_num + '.csv.zip'
    data = get_data(url)
    for line in data.split('\r\n'):
        if len(line) > 0:
            dataset.append(line.split(',')[0:1])
    tmp_df = pd.DataFrame(dataset[1:],columns=dataset[0])
    df = pd.concat([df, tmp_df], ignore_index=True)

##### データ件数

In [32]:
print("{:,}".format(len(df)))

1,425,018

##### 都道府県別件数

In [33]:
df.groupby(df['全国地方公共団体コード'].str[:2]).size()

全国地方公共団体コード
01    100931
02     17160
03     13520
04     36165
05     10576
06     15585
07      9545
08     26777
09     16311
10      8308
11     73458
12     65015
13    179047
14    105499
15     38032
16     10476
17      6538
18      9440
19      6557
20     12797
21      8730
22     30935
23     32097
24     16453
25     18043
26      6176
27    151733
28     67356
29     15791
30      4939
31      2591
32      2653
33     16190
34     60944
35     30822
36      2161
37      5342
38     14442
39      7345
40     87741
41      3868
42     12549
43     16617
44     10039
45      7621
46     16521
47     13582
dtype: int64

##### 群馬県のデータ
- データサイズがでかいので群馬県だけ

In [34]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_blk_pos/pref/mt_rsdtdsp_blk_pos_pref10.csv.zip'
data = get_data(url)
df = make_dataframe(data)
df

,全国地方公共団体コード,町字id,街区id,住居表示フラグ,住居表示方式コード,代表点_経度,代表点_緯度,代表点_座標参照系,代表点_地図情報レベル,ポリゴン_ファイル名,...,ポリゴン_座標参照系,ポリゴン_地図情報レベル,位置参照情報_都道府県名,位置参照情報_市区町村名,位置参照情報_大字・町丁目名,位置参照情報_小字・通称名,位置参照情報_街区符号・地番,位置参照情報_データ整備年度,電子国土基本図(地図情報)「住居表示住所」_住所コード(可読),電子国土基本図（地名情報）「住居表示住所」_データ整備日
0,102016,0007001,001,1,1,139.080591,36.38771,EPSG:4612,2500,,...,,,群馬県,前橋市,朝日町一丁目,,1,2020,http://gi.gsi.go.jp/jusho/10201/ASH-1/1,2017-08-04
1,102016,0007001,001,1,1,139.08052,36.387248,EPSG:4612,2500,,...,,,群馬県,前橋市,朝日町一丁目,,1,2020,http://gi.gsi.go.jp/jusho/10201/ASH-1/1,2017-08-04
2,102016,0007001,002,1,1,139.08099,36.387659,EPSG:4612,2500,,...,,,群馬県,前橋市,朝日町一丁目,,2,2020,http://gi.gsi.go.jp/jusho/10201/ASH-1/2,2017-08-04
3,102016,0007001,002,1,1,139.080915,36.387165,EPSG:4612,2500,,...,,,群馬県,前橋市,朝日町一丁目,,2,2020,http://gi.gsi.go.jp/jusho/10201/ASH-1/2,2017-08-04
4,102016,0007001,003,1,1,139.081353,36.38712,EPSG:4612,2500,,...,,,群馬県,前橋市,朝日町一丁目,,3,2020,http://gi.gsi.go.jp/jusho/10201/ASH-1/3,2017-08-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8303,105252,0003000,047,1,1,139.478527,36.258147,EPSG:4612,2500,,...,,,群馬県,邑楽郡邑楽町,大字明野,,47,2020,,
8304,105252,0003000,048,1,1,139.478363,36.258486,EPSG:4612,2500,,...,,,群馬県,邑楽郡邑楽町,大字明野,,48,2020,,
8305,105252,0003000,049,1,1,139.479356,36.258427,EPSG:4612,2500,,...,,,群馬県,邑楽郡邑楽町,大字明野,,49,2020,,
8306,105252,0003000,050,1,1,139.479732,36.258558,EPSG:4612,2500,,...,,,群馬県,邑楽郡邑楽町,大字明野,,50,2020,,
8307,105252,0003000,051,1,1,139.478057,36.259158,EPSG:4612,2500,,...,,,群馬県,邑楽郡邑楽町,大字明野,,51,2020,,

###### 詳細

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8308 entries, 0 to 8307
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   全国地方公共団体コード                      8308 non-null   object
 1   町字id                             8308 non-null   object
 2   街区id                             8308 non-null   object
 3   住居表示フラグ                          8308 non-null   object
 4   住居表示方式コード                        8308 non-null   object
 5   代表点_経度                           8308 non-null   object
 6   代表点_緯度                           8308 non-null   object
 7   代表点_座標参照系                        8308 non-null   object
 8   代表点_地図情報レベル                      8308 non-null   object
 9   ポリゴン_ファイル名                       8308 non-null   object
 10  ポリゴン_キーコード                       8308 non-null   object
 11  ポリゴン_データ_フォーマット                  8308 non-null   object
 12  ポリゴン_座標参照系                       8308 non-null   object
 13  ポリゴン_地図情報レベル                     8308 non-null   object
 14  位置参照情報_都道府県名                     8308 non-null   object
 15  位置参照情報_市区町村名                     8308 non-null   object
 16  位置参照情報_大字・町丁目名                   8308 non-null   object
 17  位置参照情報_小字・通称名                    8308 non-null   object
 18  位置参照情報_街区符号・地番                   8308 non-null   object
 19  位置参照情報_データ整備年度                   8308 non-null   object
 20  電子国土基本図(地図情報)「住居表示住所」_住所コード(可読)  8308 non-null   object
 21  電子国土基本図（地名情報）「住居表示住所」_データ整備日     8308 non-null   object
dtypes: object(22)
memory usage: 1.4+ MB

# 8 住居表示－住居マスター位置参照拡張 データセット

- [ベース・レジストリ データカタログサイト(https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000008)](https://registry-catalog.registries.digital.go.jp/dataset/?groups=g2-000008)

In [36]:
df = pd.DataFrame()
for i in range(1, 48):
    dataset = []
    pref_num = str(i).zfill(2)
    url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_rsdt_pos/pref/mt_rsdtdsp_rsdt_pos_pref' + pref_num + '.csv.zip'
    data = get_data(url)
    for line in data.split('\r\n'):
        if len(line) > 0:
            dataset.append(line.split(',')[0:1])
    tmp_df = pd.DataFrame(dataset[1:],columns=dataset[0])
    df = pd.concat([df, tmp_df], ignore_index=True)

##### データ件数

In [37]:
print("{:,}".format(len(df)))

22,506,889

##### 都道府県別件数

In [38]:
df.groupby(df['全国地方公共団体コード'].str[:2]).size()

全国地方公共団体コード
01    1805184
02     247500
03     284996
04     481491
05      97695
06     370381
07     106393
08     268159
09     235578
10     112981
11     907078
12     580701
13    1791610
14    1553997
15     826170
16     203699
17     128563
18     206290
19     109077
20     214372
21     152329
22     597416
23     372957
24     301017
25     375526
26      32949
27    2307986
28    1067078
29     261899
30      89745
31      65222
32      57572
33     296861
34    1400653
35     632141
36      46161
37     105935
38     309111
39     160635
40    1805162
41      55097
42     278146
43     511744
44     193355
45      86218
46     181526
47     230533
dtype: int64

##### 群馬県のデータ
- データサイズがでかいので群馬県だけ

In [39]:
url = 'https://gov-csv-export-public.s3.ap-northeast-1.amazonaws.com/mt_rsdtdsp_rsdt_pos/pref/mt_rsdtdsp_rsdt_pos_pref10.csv.zip'
data = get_data(url)
df = make_dataframe(data)
df

,全国地方公共団体コード,町字id,街区id,住居id,住居2id,住居表示フラグ,住居表示方式コード,代表点_経度,代表点_緯度,代表点_座標参照系,代表点_地図情報レベル,電子国土基本図(地図情報)「住居表示住所」_住所コード(可読),電子国土基本図（地名情報）「住居表示住所」_データ整備日
0,102016,0007001,001,001,,1,1,139.080385542,36.387516214,EPSG:6668,2500,http://gi.gsi.go.jp/jusho/10201/ASH-1/1/1,2017-08-04
1,102016,0007001,001,002,,1,1,139.080388122,36.387656942,EPSG:6668,2500,http://gi.gsi.go.jp/jusho/10201/ASH-1/1/2,2017-08-04
2,102016,0007001,001,003,,1,1,139.080398831,36.387774681,EPSG:6668,2500,http://gi.gsi.go.jp/jusho/10201/ASH-1/1/3,2017-08-04
3,102016,0007001,001,004,,1,1,139.080415164,36.387922686,EPSG:6668,2500,http://gi.gsi.go.jp/jusho/10201/ASH-1/1/4,2017-08-04
4,102016,0007001,001,005,,1,1,139.080451344,36.388002342,EPSG:6668,2500,http://gi.gsi.go.jp/jusho/10201/ASH-1/1/5,2017-08-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112976,105244,0021003,022,022,,1,1,139.410578289,36.248452247,EPSG:6668,25000,http://gi.gsi.go.jp/jusho/10524/FJI-3/22/22,2017-08-04
112977,105244,0021003,022,023,,1,1,139.410616336,36.248384469,EPSG:6668,25000,http://gi.gsi.go.jp/jusho/10524/FJI-3/22/23,2017-08-04
112978,105244,0021003,022,024,,1,1,139.410727672,36.248352811,EPSG:6668,25000,http://gi.gsi.go.jp/jusho/10524/FJI-3/22/24,2017-08-04
112979,105244,0021003,022,025,,1,1,139.410829569,36.248324175,EPSG:6668,25000,http://gi.gsi.go.jp/jusho/10524/FJI-3/22/25,2017-08-04
112980,105244,0021003,022,026,,1,1,139.410925814,36.248296281,EPSG:6668,25000,http://gi.gsi.go.jp/jusho/10524/FJI-3/22/26,2017-08-04

###### 詳細

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112981 entries, 0 to 112980
Data columns (total 13 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   全国地方公共団体コード                      112981 non-null  object
 1   町字id                             112981 non-null  object
 2   街区id                             112981 non-null  object
 3   住居id                             112981 non-null  object
 4   住居2id                            112981 non-null  object
 5   住居表示フラグ                          112981 non-null  object
 6   住居表示方式コード                        112981 non-null  object
 7   代表点_経度                           112981 non-null  object
 8   代表点_緯度                           112981 non-null  object
 9   代表点_座標参照系                        112981 non-null  object
 10  代表点_地図情報レベル                      112981 non-null  object
 11  電子国土基本図(地図情報)「住居表示住所」_住所コード(可読)  112981 non-null  object
 12  電子国土基本図（地名情報）「住居表示住所」_データ整備日     112981 non-null  object
dtypes: object(13)
memory usage: 11.2+ MB